<div class='container'>
  <h3>
    Coming soon:
  </h3>
  <p class='col-sm-8'>
  StringsAndCode.com is a blog and meta-blog for subjects related to Classical Guitar, Lute, and Programming.

  Until then, checkout my music content on <a href="https://reverbnation.com/samueljosephlawson" target="_blank">ReverbNation</a> and my code at <a href="http://sjlawson.sdf.org/steampower">Steam Power Code</a>.
  <br><br>Thanks!
</p>

</div>
