<img src="/assets/images/stringsandcode.jpg" style="width: 100%" />
<h2>
Strings and Code
</h2>
<h4>
Coming soon:<br />
StringsAndCode.com is a blog and meta-blog for subjects related to Classical Guitar, Lute, and Programming.
</h4>
Until then, checkout my music content on <a href="https://reverbnation.com/samueljosephlawson" target="_blank">ReverbNation</a> and my code at <a href="http://sjlawson.sdf.org/steampower">Steam Power Code</a>.<br><br>Thanks!

<p style="bottom: 0; height: 30px; left: 0; position: absolute; width: 100%">
Powered by Ruby on Rails and the Super-Dimensional Fortress</p>
